<section data-ng-controller="HomeController" data-ng-init="getLists()">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-12 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="GAAPLOGIC" class="img-responsive text-center" width="500px" src="modules/core/img/brand/GAAPLOGIC grey.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				A FREE(!!) smart decision app for complex accounting issues
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="/#!/projects/create" target="_blank" data-ng-show="authentication.user">Start a Project!</a>
			</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/#!/projects/create" target="_blank" data-ng-hide="authentication.user" disabled title="Please login to start a project.">Start a Project!</a>
			</p>
			<p data-ng-hide="authentication.user">
				Please login to start a project. Registration is free!
			</p>
		</div>
	</div>
	<div>
		<p>
			GAAP Logic is a very smart decision application that helps you interpret even the most complex accounting guidance. We believe that the application of accounting rules should not be the private domain of very expensive accounting firms and subject matter experts. Application of GAAP is usually a methodical decision process that lends itself to decision analysis. GAAP Logic is just that, a decision analysis application designed to get you to the right answer while saving you time and money.
		</p>
	</div>
	<div>
		<p>
			We envisioned GAAP Logic as a crowd-sourced app, with user input into Help, Examples and other content as a critical feature. We also welcome feedback on functionality, bugs and anything else that occurs to you that would improve the user experience and make the app a world-class accounting ressearch tool. We have built in an <a href="/#!/issues">Issues</a> feature for commenting on anything and everything. We will monitor Issues and do our best to respond to all Issues raised with complete transparency. All Issues and related comments/resolutions are available for view and comment by all users. So have at it! 
		</p>
	</div>
	<div class="well">
		<h2>Live Modules</h2>
		<div>
			These modules have been thoroughly tested for adherance to proper decision logic for each subject area. Module content, such has Help, FAQ and Examples, will undergo continuous enhancement as we receive feedback from users.
			<div class="panel panel-default" data-ng-show="showLive">
				<div class="list-group">
					<div class="list-group-item" data-ng-repeat="subject in subjectsLive">
				<!-- <a data-ng-repeat="subject in subjectsLive" target="_blank" href="http://gaaplogic.com/{{ subject.prefix }}" class="list-group-item"> -->
						<h5 class="panel panel-heading" data-ng-bind="subject.name"></h5>
						<p class="panel panel-body" data-ng-bind="subject.description"></p>
					</div>
				<!-- </a> -->
				</div>
			</div>
			<div class="list-group" data-ng-hide="showLive">
				<p class="list-group-item">No modules currently live.</p>
			</div>
		</div>
	</div>
	<div class="well">
		<h2>Modules in Beta</h2>
		<div>
			These modules are ready for user testing and but are probably still writing content. We would greatly appreciate your help with testing! Please use these modules for current projects, or old projects that you think will really challenge the application, and give us your feedback and advice <a href="http://apps.gaaplogic.com/#!/issues" target="_blank">here</a>.
			<div class="panel panel-default" data-ng-show="showBeta">
				<div class="list-group">
					<div class="list-group-item" data-ng-repeat="subject in subjectsBeta">
				<!-- <a data-ng-repeat="subject in subjectsBeta" target="_blank" href="http://gaaplogic.com/{{ subject.prefix }}" class="list-group-item"> -->
						<h5 data-ng-bind="subject.name"></h5>
						<p class="panel panel-body" data-ng-bind="subject.description"></p>
					</div>
				<!-- </a> -->
				</div>
			</div>
			<div class="list-group" data-ng-hide="showBeta">
				<p class="list-group-item">No modules currently in beta.</p>
			</div>
		</div>
	</div>
	<div class="well">
		<h2>Modules in Development</h2>
		<div>
			These modules are still in development and internal testing. This means we are immersed in accounting guidance analyzing and developing the nodes and decision logic for the subject. As soon as these modules have been thoroughly tested by our internal team, we will release them to beta for user testing.</a>.
			<div class="panel panel-default" data-ng-show="showDev">
				<div class="list-group">
					<div class="list-group-item" data-ng-repeat="subject in subjectsDev">
				<!-- <a data-ng-repeat="subject in subjectsDev" target="_blank" href="http://gaaplogic.com/{{ subject.prefix }}" class="list-group-item"> -->
						<h5 data-ng-bind="subject.name"></h5>
						<p data-ng-bind="subject.description"></p>
				<!-- </a> -->
					</div>
				</div>
			</div>
			<div class="list-group" data-ng-hide="showDev">
				<p class="list-group-item">No modules currently in development.</p>
			</div>
		</div>
	</div>
	<br>Enjoy &amp; Keep Us Updated,
	<br>The GAAP Logic Team
</section>