<section data-ng-controller="ResponsesController" data-ng-init="getQuestions()">
	<div class="row">
		<div class="col-md-10">
			<h4>Project Title: {{ project.title }}</h4>
			<div style="margin-top: -10px">
				<small>
					<em class="text-muted">
						Project ID 
						<span data-ng-bind="project._id"></span>
						created on
						<span data-ng-bind="project.created | date:'mediumDate'"></span>
						by
						<span data-ng-bind="project.user.displayName"></span>
						-- Module:  
						<span data-ng-bind="project.version.description"></span>
					</em>
				</small>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group" data-ng-show="showReportButton" style="margin-left: 2px;">
				<input ng-click="genReport(report)" class="btn btn-success" value="Generate Report">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="margin-top: 5px">
			<h3 class="panel-title">Project Nodes</h3>
		</div>
		<div class="col-md-12" style="margin-top: -10px">
			<nav>
				<ul class="pagination pagination-sm">
					<li data-ng-repeat="breadcrumb in breadcrumbs"><a id="{{ breadcrumb.sequence }}" data-ng-click="showNode(breadcrumb.sequence)" title="Click to display Index {{ breadcrumb.sequence }}: {{ breadcrumb.question }}" data-ng-bind="breadcrumb.sequence"></a></li>
				</lu>
			</nav>
		</div>
	</div>
	<div class="page-header" style="margin-top: -40px">
		<h2>Index: {{ current }}</h2>
		<h4>Node ID: {{ content.questionId }}</h4>
	</div>
	<div ng-include="template.url"></div>
</section>

<div ng-controller="ResponsesController">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Interim Conclusion Description</h3>
        </div>
        <div class="modal-body" ng-bind="conclusion.content">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>

<style> new-window { display: none; } </style>