<section data-ng-controller="ProjectsController" data-ng-init="getLists()" ng-cloak>
	<div class="page-header">
		<h1>New Project</h1>
	</div>
	<div class="col-md-12">
		<form name="projectForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="row form-group form-group-sm">
					<div class="col-md-6">
						<div class="" ng-class="{ 'has-error': projectForm.title.$dirty && projectForm.title.$invalid }">
							<label class="control-label" for="title">Title</label>
							<div class="controls">
								<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<label class="control-label" for="entity">Entity Name</label>
						<div class="controls">
							<textarea name="entity" data-ng-model="entity" id="entity" class="form-control" placeholder="Entity name"></textarea>
						</div>
					</div>
				</div>
				<div class="row form-group form-group-sm">
					<div class="col-md-12">
						<label class="control-label" for="description">Description</label>
						<div class="controls">
							<textarea name="description" data-ng-model="description" id="description" class="form-control" placeholder="Description"></textarea>
						</div>
					</div>
				</div>
				<div class="row form-group form-group-sm">
					<div class="col-md-4">
						<div ng-class="{ 'has-error': projectForm.subject.$dirty && projectForm.subject.$invalid }">
							<label class="control-label" for="subject">Subject</label>
							<div class="controls">
								<select data-ng-options="subject.name for subject in subjects track by subject._id" name="subject" id="subject" data-ng-model="subject" class="form-control" data-ng-change="filterVersions()" placeholder="Select a subject" required>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-3" data-ng-show="showFilteredVersions">
						<div ng-class="{ 'has-error': projectForm.version.$dirty && projectForm.version.$invalid }">
							<label class="control-label" for="version">Version</label>
							<div class="controls">
								<select data-ng-options="version.description for version in subjectVersions track by version._id" name="version" id="version" data-ng-model="version" class="form-control" placeholder="Select a version" required>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row form-group form-group-sm">
					<div class="col-md-12">
						<div data-ng-show="showDescription" class="col-md-12 alert alert-info" role="alert" style="margin-top: 10px"ng-bind-html="subject.description">
						</div>
					</div>
				</div>
				<div class="form-group col-md-12">
					<input type="submit" class="btn btn-default" value="Save">
					<a href="/#!/" class="btn btn-default">Cancel</a>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>