<section data-ng-controller="ProjectsController" data-ng-init="findOne()" ng-cloak>
	<div class="page-header">
		<h1>Edit Project</h1>
	</div>
	<div class="col-md-12">
		<form name="projectForm" class="form-horizontal" data-ng-submit="update(projectForm.$valid)" novalidate>
			<fieldset>
				<div class="row form-group form-group-sm">
					<div class="col-md-6">
						<div ng-class="{ 'has-error' : submitted && projectForm.title.$invalid}">
							<label class="control-label" for="title">Title</label>
							<div class="controls">
								<input name="title" type="text" data-ng-model="project.title" id="title" class="form-control" placeholder="Title" required>
							</div>
							<div ng-show="submitted && projectForm.title.$invalid" class="help-block">
								<p ng-show="projectForm.title.$error.required" class="text-danger">Title is required</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div ng-class="{ 'has-error' : submitted && projectForm.entity.$invalid}">
							<label class="control-label" for="entity">Entity Name</label>
							<div class="controls">
								<textarea name="entity" data-ng-model="project.entity" id="entity" class="form-control" cols="30" rows="10" placeholder="Entity name" required></textarea>
							</div>
							<div ng-show="submitted && projectForm.entity.$invalid" class="help-block">
								<p ng-show="projectForm.entity.$error.required" class="text-danger">Entity is required</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row form-group form-group-sm">
					<div class="col-md-12">
						<label class="control-label" for="description">Description</label>
						<div class="controls">
							<textarea name="description" data-ng-model="description" id="description" class="form-control" placeholder="Description"></textarea>
						</div>
					</div>
				</div>
				<div class="row form-group form-group-sm">
					<div class="col-md-4">
						<div ng-class="{ 'has-error': projectForm.subject.$dirty && projectForm.subject.$invalid }">
							<label class="control-label" for="subject">Subject</label>
							<div class="controls">
								<select data-ng-options="subject.name for subject in subjects track by subject._id" name="subject" id="subject" data-ng-model="project.subject" class="form-control" data-ng-change="filterVersions()" placeholder="Select a subject" required>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-3" data-ng-hide="showVersions">
						<div>
							<label class="control-label" for="savedVersion">Version</label>
							<div class="controls">
								<input name="savedVersion" type="text" data-ng-model="project.version.description" id="savedVersion" class="form-control" readonly="true">
							</div>
						</div>
					</div>
					<div class="col-md-2" data-ng-hide="showVersions">
						<div ng-class="{ 'has-error': projectForm.version.$dirty && projectForm.version.$invalid }">
							<label class="control-label" for="changeVersion">Change Version</label>
							<div class="controls">
								<input type="checkbox" id="changeVersion" name="changeVersion" class="form-control" data-ng-click="filterVersions()">
							</div>
						</div>
					</div>
					<div class="col-md-3" data-ng-show="showFilteredVersions">
						<div>
							<label class="control-label" for="version">Version</label>
							<div class="controls">
								<select data-ng-options="version.description for version in subjectVersions track by version._id" name="version" id="version" data-ng-model="version" class="form-control" placeholder="Select a version" required>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row form-group form-group-sm">
					<div class="col-md-12">
						<div data-ng-show="showDescription" class="col-md-12 alert alert-info" role="alert" style="margin-top: 10px"ng-bind-html="subject.description">
						</div>
					</div>
				</div>
				<div class="row form-group form-group-sm">
					<input type="submit" value="Update" class="btn btn-default">
					<a href="/#!/projects" class="btn btn-default">Cancel</a>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>